# apps/expo-app env example
# Local env uses .env.local; production uses .env.production; examples use .env.example.

## PROJECT
EXPO_PUBLIC_BASE_URL=
EXPO_PUBLIC_CLOUDINARY_BASE_URL=
EXPO_PUBLIC_EMAIL=
EXPO_PUBLIC_PORTLESS_APP_PORT=
EXPO_PUBLIC_TOK=

# UNUSED
EXPO_PUBLIC_API_PORT=
EXPO_PUBLIC_PORTLESS_DOMAIN=
EXPO_PUBLIC_WEB_URL=
